@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: center;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.max-size {
    height: 100%;
    width: 100%;
}

.table-scroll {
    overflow: auto;
    overflow-x: auto;
    height: 15em;
}
